    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=task.author.username) }}">
                    <img src="{{ task.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('main.user', username=task.author.username) }}">
                        {{ task.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(task.timestamp).fromNow()) }}
                <br>
                <span id="task{{ task.id }}">{{ task.name }} <br>{{ task.description }}</span>
                {% if task.language and task.language != g.locale %}
                <br><br>
                <span id="translation{{ task.id }}">
                    <a href="javascript:translate(
                                '#task{{ task.id }}',
                                '#translation{{ task.id }}',
                                '{{ task.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
            </td>
        </tr>
    </table>
